<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>Artdvp Hobby</title>
        <!-- Font Awesome -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.0/css/font-awesome.min.css">
        <!-- Bootstrap core CSS -->
        <link href="../assets/css/bootstrap.min.css" rel="stylesheet">
        <!-- Material Design Bootstrap -->
        <link href="../assets/css/mdb.min.css" rel="stylesheet">
        <!-- Your custom styles (optional) -->
        <link href="../assets/css/style.css" rel="stylesheet">
        <script src="https://unpkg.com/vue"></script>
        <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    </head>
    <body>
        <!--card-->
        <!--Start your project here-->
        <div class="container">
            <header>
                <!--Navbar-->
                <nav class="navbar navbar-dark bg-success">
                    <!-- Collapse button-->
                    <button class="navbar-toggler hidden-sm-up collapsed" type="button" data-toggle="collapse" data-target="#collapseEx2" aria-expanded="false">
                    <i class="fa fa-bars"></i>
                    </button>
                    <div class="container">
                        <!--Collapse content-->
                        <a class="navbar-brand waves-effect waves-light" href="https://www.artdvp.me/">Artdvp</a>
                        <div class="navbar-toggleable-xs collapse" id="collapseEx2" aria-expanded="false">
                            <!--Navbar Brand-->
                            <!--Links-->
                            <ul class="nav navbar-nav">
                                <li class="nav-item">
                                    <a class="nav-link waves-effect waves-light" href="https://www.artdvp.me/">Home </a>
                                </li>
                                <li class="nav-item active">
                                    <a class="nav-link waves-effect waves-light" href="#">Hobby</a>
                                    <span class="sr-only">(current)</span>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link waves-effect waves-light" href="https://www.artdvp.me/blog">Blog</a>
                                </li>
                            </ul>
                            <!--Search form-->
                        </div>
                        <!--/.Collapse content-->
                    </div>
                </nav>
                <!--/.Navbar-->
            </header>
            <div class="divider-new" style="margin-bottom: 12px;">
                <h2 class="h2-responsive">Hobby</h2>
            </div>
            <br>
            <!--Second row-->
            <div id="appt">
                <div class="card-columns">
                    <div v-for="result in results">
                        <div class="card text-center">
                            <div class="view overlay hm-white-slight">
                                <img :src="result.picture_url" class="img-fluid m-auto" :alt="result.title">
                                <a>
                                    <div class="mask waves-effect waves-light "></div>
                                </a>
                            </div>
                            <div class="card-block">
                                <h4 class="card-title ">{{result.title}}</h4>
                                <hr>
                                <p class="card-text ">
                                    <div>{{result.detail}}</div>
                                </p>
                                <div class="text-center ">
                                    <a :href="result.path_url" target="_blank " class="btn btn-primary waves-effect waves-light ">Demo</a>
                                    <!--<a href="{{x.path_src}}" target="_blank " class="btn btn-success waves-effect waves-light ">Source</a>-->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <br>
        <!--Second row-->
        <!--/.Second row-->
        <div class="container">
            <div class="divider-new">
                <h2 class="h2-responsive">Contact us</h2>
            </div>
            <!--Section: Contact-->
            <section id="contact">
            </section>
            <!--Section: Contact-->
            <div class="row" id="contact">
                <!--First column-->
                <div class="col-md-8">
                    <!--Map container-->
                    <div id="map-container" class="z-depth-1 wow fadeInUp" style="height: 300px"></div>
                </div>
                <!--/First column-->
                <!--/ Main container-->
                <!--Second column-->
                <div class="col-md-4">
                    <ul class="text-xs-center" style="padding-top: 15px;">
                        <li class="wow fadeInUp" data-wow-delay="0.2s"><i class="fa fa-map-marker"></i>
                            <p>Nongmuang,Nongmuang, Lopburi 15170</p>
                        </li>
                        <li class="wow fadeInUp" data-wow-delay="0.3s"><i class="fa fa-phone"></i>
                            <p>082-6592627</p>
                        </li>
                        <li class="wow fadeInUp" data-wow-delay="0.4s"><i class="fa fa-envelope"></i>
                            <p>chaiwud.t@gmail.com</p>
                        </li>
                    </ul>
                </div>
                <!--/Second column-->
            </div>
            <!--Links-->
        </div>
    </div>
    <br>
    <br>
    
    <!-- JQuery -->
    <script type="text/javascript" src="../assets/js/jquery-3.1.1.min.js"></script>
    <!-- Bootstrap tooltips -->
    <script type="text/javascript" src="../assets/js/tether.js"></script>
    <!-- Bootstrap core JavaScript -->
    <script type="text/javascript" src="../assets/js/bootstrap.min.js"></script>
    <!-- MDB core JavaScript -->
    <script type="text/javascript" src="../assets/js/mdb.min.js"></script>
    
    <script type="text/javascript" src="../assets/js/tabletop.min.js"></script>
    <!-- vue mouted -->
    <script src="../assets/js/app.js"></script>
    <!--Google Maps-->
    <script>
    function initMap() {
    var var_location = {
    lat: 15.227106,
    lng: 100.658207
    };
    var map = new google.maps.Map(document.getElementById('map-container'), {
    zoom: 15,
    center: var_location
    });
    var marker = new google.maps.Marker({
    position: var_location,
    map: map
    });
    }
    </script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCuZHn_YOZ5nKS1zaVmfNHngoFO5MvONuI&callback=initMap" async defer></script>
    <script>
    (function(i, s, o, g, r, a, m) {
    i['GoogleAnalyticsObject'] = r;
    i[r] = i[r] || function() {
    (i[r].q = i[r].q || []).push(arguments)
    }, i[r].l = 1 * new Date();
    a = s.createElement(o),
    m = s.getElementsByTagName(o)[0];
    a.async = 1;
    a.src = g;
    m.parentNode.insertBefore(a, m)
    })(window, document, 'script', 'https://www.google-analytics.com/analytics.js', 'ga');
    ga('create', 'UA-88702930-1', 'auto');
    ga('send', 'pageview');
    </script>
</body>
</html>